<section class="thirteen columns">
        <h1>Awords</h1>
        <article>
            <header>
                <h1>Excellent undergraduate graduation project of Chongqing University</h1>
                <span><time>2017-06</time> Software institute only have 3 Places</span>
                <p><a href="http://jwc.cqu.edu.cn/node/3690">Design and implementation of chinese weibo automatic abstract system</a></a></p>
            </header>
        </article>
        <article>
            <header>
                <h1>Second prize in national Computer Design Competition for Chinese college students </h1>
                <span><time>2016-05</time> Top 10%, with about 6,000 teams competing</span>
            </header>
        </article>
        <article>
            <header>
                <h1>Third prize IBM Master the Mainframe Global Contest (individual competition)</h1>
                <span><time>2015-11</time></span>
            </header>
        </article>
        <article>
            <header>
                <h1>First prize in the "Smart Campus" application competition of Chongqing University</h1>
                <span><time>2015-05</time> First place in the innovation group</span>
            </header>
        </article>
        <!-- <article>
            <header>
                <h1>重庆大学优秀共青团干部、优秀学生奖学金</h1>
                <span><time>2015</time></span>
            </header>
        </article> -->
    </section>
    