<section class="thirteen columns">
    <h1>Award</h1>
    <article>
        <header>
            <h1>中国大学生计算机设计大赛重庆市赛 二等奖</h1>
            <span><time>2016-05</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>IBM大型主机技术应用全国校园大赛个人赛 三等奖</h1>
            <span><time>2015-11</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>重庆大学“智慧校园”App大赛 一等奖 </h1>
            <span><time>2015-05</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>重庆大学优秀共青团干部、优秀学生奖学金</h1>
            <span><time>2015</time></span>
        </header>
    </article>
</section>