<section class="thirteen columns">
    <h1>奖项</h1>
    <article>
        <header>
            <h1><a href="http://jsjds.ruc.edu.cn/Article_Show.asp?ArticleID=391">中国大学生计算机设计大赛全国赛</a> 二等奖</h1>
            <span><time>2016-05</time> Top 10% 约6000+只队伍参赛</span>
        </header>
    </article>
    <article>
        <header>
            <h1>IBM大型主机技术应用全国校园大赛<a href="http://azureyu.com/2015-11-15-IBMMainFrameCompetition.html">个人赛</a> 三等奖</h1>
            <span><time>2015-11</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>重庆大学“智慧校园”App大赛 一等奖</h1>
            <span><time>2015-05</time> 创新组 Top 1</span>
        </header>
    </article>
    <article>
        <header>
            <h1>重庆大学优秀共青团干部、优秀学生奖学金</h1>
            <span><time>2015</time></span>
        </header>
    </article>
</section>
