<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1><a href="https://en.wikipedia.org/wiki/NUDT">National University of Defense Technology</a></h1>
            <p>MS in Computer Science and Technology</p>
            <span>
                <time>Sep 2017 ~ Jun 2020, </time>
                <address>ChangSha, China </address>
            </span>
            <p>Postgraduate recommendation</p>
        </header>
        <br>
        <header>
            <h1><a href="https://en.wikipedia.org/wiki/Chongqing_University">Chongqing University</a></h1>
            <p>BS in Software Engineering</p>
            <span><address>Sep 2013 ~ Jun 2017, ChongQing, China<time></address></time></span>
        </header>
    </article>
</section>
