<section class="thirteen columns">
    <h1>项目</h1>
    <article>
        <header>
            <h1>货运达 在线车货匹配平台 </h1>
            <span><time>2016-05</time></span>
        </header>
        <p>队长，负责Web前端和iOS端开发，前端主要使用Bootstrap框架，iOS使用UIKit，MapKit等 </p>
    </article>
    <article>
        
        <header>
            <h1><a href="https://geo.itunes.apple.com/cn/developer/xinyu-you/id1092207432?app=itunes">iOS独立开发</a></h1>
            <span><time>2016-04 - 至今</time></span>
        </header>
        <p><a href="http://azureyu.com/pulse">Pulse节拍器 </a>使用自定义控件，AVFoundation框架</p>
    </article>
    <article>
        <header>
            <h1>重庆经纬通跨境电商项目</h1>
            <span><time>2016-01</time></span>
        </header>
        <p>负责Web端分销商模块后台开发，使用ThinkPHP框架</p>
    </article>
    <article>
        <header>
            <h1><a href="https://github.com/Yogayu/EmotionNote">EmotionNote开源项目</a></h1>
            <span><time>2015-11</time></span>
        </header>
        <p> 情绪笔记App，开源项目。已加入Awesome-Swift。使用微软牛津计划API。 </p>
    </article>
    <article>
        <header>
            <h1>重庆大学“智慧校园”App</h1>
            <span><time>2015-05</time></span>
        </header>
        <p> 队长，负责统筹协调、市场调查以及原型示例制作
        </p>
    </article>
</section>
