<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming Language</h1>
        </header>
        <p><em>Python, Swift, HTML&CSS, SQL, Javascript, Objective-C, Java, C, C++</em></p>
        <br>
        <header>
            <h1>Data Science</h1>
        </header>
        <p><em>Machine Learning Models</em></p>
        <p><em>Numpy, Pandas, Matplotlib, Scikit-learn, PyMySQL</em></p>
        <br>
        <header>
            <h1>iOS Design and Development</h1>
        </header>
        <p><em>Cocoa Touch Framewrok</em></p>
        <p>iOS Design with <em>Sketch</em></p>

        <!-- <header><h1>Soft Skills</h1></header>
        <p>Strong communication ability</p>
        <p>Good Writing Skills</p> -->
    </article>
</section>
